<div class="wrapper">
<%= form_with(model: patient) do |form| %>
  <% if patient.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(patient.errors.count, "error") %> Prohibited this patient from being saved:</h2>
      <ul>
        <% patient.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="bg-success p-5 row text-light shadow-lg">
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name , class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class: 'form-control'%>
    </div>

    <div class="form-group">
      <%= form.label :profile_image%>
      <%= form.file_field :profile_image, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :documents%>
      <%= form.file_field :documents, class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= form.label :disease%>
      <%= form.text_field :disea, class: 'form-control' %>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <%= form.label :"Date Of Enterance"%>
      <%= form.date_field :dof_enterance, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :"Date Of Exit"%>
      <%= form.date_field :dof_exit, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :address %>
      <%= form.text_field :addre, class: 'form-control' %>
    </div>

    <div>
      <%= form.label :phone %>
      <%= form.text_field :phone, class: 'form-control'%>
    </div>

    <div class="btn btn-md btn-warning mt-4 col-12">
      <%= form.submit %>
    </div>
  </div>
<% end %>
</div>
</div>
