<div id="<%= dom_id patient %>">
  <p>
    <strong>Name:</strong>
    <%= patient.name %>
  </p>

  <p>
    <strong>Disease:</strong>
    <%= patient.disease %>
  </p>

  <p>
    <strong>Dof enterance:</strong>
    <%= patient.dof_enterance %>
  </p>

  <p>
    <strong>Dof exit:</strong>
    <%= patient.dof_exit %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= patient.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= patient.phone %>
  </p>

</div>
