<p class="badge bg-success"><%= notice %></p>

<h1 class="text-center mt-4 wrapper display hospital"><strong>Patients</strong></h1>
<p>The number of rows in the users table is <%= @row_count %>.</p>

<div id="patients" class="row">
 <table class="table table-hover mt-5 col-6">
  <% @patients.each do |patient| %>
    <tr>
    <td><%= render patient %></td>

    <td><%= link_to "Update", edit_patient_path(patient), class: 'btn btn-warning' %></td>

    <td><%= link_to "Details", patient, class: 'btn btn-primary' %></td>

    <td><%= button_to "Delete", patient, method: :delete, class: 'btn btn-danger' %></td>
    </tr>
    
  <% end %>
  </table>
</div>
<div class="wrapper"><%= link_to "Register", new_patient_path, class: "btn btn-secondary mb-3" %></div>
