<p class="badge bg-success"><%= notice %></p>

<div>
  <div id="patients">
    <div class="row">
      <div class="col-7 p-5">
        <h2 class="display-1 hospital">
          <strong><%= @patient.name %></strong>
        </h2>
        <p>
          <strong>Email:</strong>
          <%= @patient.email %>
        </p>
        <p>
          <strong>Disease:</strong>
          <%= @patient.disease %>
        </p>
        <p>
          <strong>Date of Enterance:</strong>
          <%= @patient.dof_enterance %>
        </p>
        <p>
          <strong>Date Of Exit:</strong>
          <%= @patient.dof_exit %>
        </p>

  <p>
    <strong>Address:</strong>
    <%= @patient.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @patient.phone %>
  </p>

  <p>
    <strong>Documents:</strong>
    <%= @patient.documents %>
  </p>

  </div>

  <%= link_to "Edit", edit_patient_path(@patient) %> |
  <%= link_to "Back", patients_path %>
  <%= button_to "Delete", @patient, method: :delete %>
  
</div>
