<p class="badge bg-success"><%= notice %></p>

<div class="row">
  <div id="patients" class=" wrapper">
  <div class="patient col-6 flex justify-content-center">
        <h2 class="display-1 hospital pb-2 text-center">
          <strong><%= @patient.name %></strong>
        </h2>
    
        <p class="text-center">
          <strong>Email:
          <%= @patient.email %></strong>
        </p>
        <p class="text-center">
          <strong>Disease:
          <%= @patient.disease %></strong>
        </p>
        <p class="text-center">
          <strong>Date of Enterance:
          <%= @patient.dof_enterance %></strong>
        </p>
        <p class="text-center">
          <strong>Date Of Exit:
          <%= @patient.dof_exit %></strong>
        </p>
        <p class="text-center">
          <strong>Address:
          <%= @patient.address %></strong>
        </p>
        <p class="text-center">
          <strong>Phone:
          <%= @patient.phone %></strong>
        </p>
    </div>
  </div>
</div>
<div class="wrapper">
  <%= link_to "Edit", edit_patient_path(@patient), class: 'btn btn-small btn-primary m-4' %>
  <%= link_to "Back", patients_path, class: 'btn btn-small btn-warning m-4' %>
  <%= button_to "Delete", @patient, method: :delete, class: 'btn btn-small btn-danger m-4' %>

</div>
