<p style="color: green"><%= notice %></p>

<div>
<div id="patients">
  <h1>Patient Page</h1>
  <p>
    <strong>Name:</strong>
    <%= @patient.name %>
  </p>

  <% if @patient.profile_image.attached? %>
  <%= image_tag @patient.profile_image, style: "width: 40px" %>
  <% end %>

  <p>
    <strong>Email:</strong>
    <%= @patient.email %>
  </p>

  <p>
    <strong>Disease:</strong>
    <%= @patient.disease %>
  </p>

  <p>
    <strong>Date of Enterance:</strong>
    <%= @patient.dof_enterance %>
  </p>

  <p>
    <strong>Date Of Exit:</strong>
    <%= @patient.dof_exit %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @patient.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @patient.phone %>
  </p>

  <p>
    <strong>Documents:</strong>
    <%= @patient.documents %>
  </p>

  </div>

  <%= link_to "Edit this patient", edit_patient_path(@patient) %> |
  <%= link_to "Back to patients", patients_path %>
  <%= button_to "Destroy this patient", @patient, method: :delete %>
  
</div>
