<p class="badge bg-success"><%= notice %></p>

<div class="wrapper">
  <div id="patients">
  <div class="patient">
        <h2 class="display-1 hospital pb-2">
          <strong><%= @patient.name %></strong>
        </h2>
    
        <p>
          <strong>Email:
          <%= @patient.email %></strong>
        </p>
        <p>
          <strong>Disease:
          <%= @patient.disease %></strong>
        </p>
        <p>
          <strong>Date of Enterance:
          <%= @patient.dof_enterance %></strong>
        </p>
        <p>
          <strong>Date Of Exit:
          <%= @patient.dof_exit %></strong>
        </p>
        <p>
          <strong>Address:
          <%= @patient.address %></strong>
        </p>
        <p>
          <strong>Phone:
          <%= @patient.phone %></strong>
        </p>
    </div>
  </div>
</div>
<div class="wrapper">
  <%= link_to "Edit", edit_patient_path(@patient), class: 'btn btn-small btn-primary m-4' %>
  <%= link_to "Back", patients_path, class: 'btn btn-small btn-warning m-4' %>
  <%= button_to "Delete", @patient, method: :delete, class: 'btn btn-small btn-danger m-4' %>

</div>
