<p style="color: green"><%= notice %></p>

<%# <%= render @patient %>

<div>
<div id="patients">
  <h1>Patient Page</h1>
  <p>
    <strong>Name:</strong>
    <%= @patient.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @patient.email %>
  </p>

  <p>
    <strong>Disease:</strong>
    <%= @patient.disease %>
  </p>

  <p>
    <strong>Dof enterance:</strong>
    <%= @patient.dof_enterance %>
  </p>

  <p>
    <strong>Dof exit:</strong>
    <%= @patient.dof_exit %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= @patient.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @patient.phone %>
  </p>
  </div>

  <%# <%= link_to "Edit this patient", edit_patient_path(@patient) %> |
  <%= link_to "Back to patients", patients_path %>

  <%= button_to "Destroy this patient", @patient, method: :delete %>
</div>
