<style>
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.patient {
  background: linear-gradient(to bottom, #ebef06, #ffb338);
  padding: 30px;
  margin-top: 40px;
  border: 1px white solid;
  border-radius: 0 50px 0 50px;
  box-shadow: 0 10px 15px #b1b1b1;
}

.patient:hover {
  color: white;
  box-shadow: 0 20px 30px 0#989898;
}

.hospital {
  background: linear-gradient(
    to bottom,
    #7afd6e,
    #0b4527
   );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-top: -100%;
  }
  to {
    margin-top: 0%;
  }
}
</style>
<p class="badge bg-success"><%= notice %></p>

<div class="row">
  <div id="patients" class=" wrapper">
  <div class="patient col-6 flex justify-content-center">
        <h2 class="display-1 hospital pb-2 text-center">
          <strong><%= @patient.name %></strong>
        </h2>
    
        <p class="text-center">
          <strong>Email:
          <%= @patient.email %></strong>
        </p>
        <p class="text-center">
          <strong>Disease:
          <%= @patient.disease %></strong>
        </p>
        <p class="text-center">
          <strong>Date of Enterance:
          <%= @patient.dof_enterance %></strong>
        </p>
        <p class="text-center">
          <strong>Date Of Exit:
          <%= @patient.dof_exit %></strong>
        </p>
        <p class="text-center">
          <strong>Address:
          <%= @patient.address %></strong>
        </p>
        <p class="text-center">
          <strong>Phone:
          <%= @patient.phone %></strong>
        </p>
    </div>
  </div>
</div>
<div class="wrapper">
  <%= link_to "Edit", edit_patient_path(@patient), class: 'btn btn-small btn-primary m-4' %>
  <%= link_to "Back", patients_path, class: 'btn btn-small btn-warning m-4' %>
  <%= button_to "Delete", @patient, method: :delete, class: 'btn btn-small btn-danger m-4' %>

</div>
