<div id="<%= dom_id doctor %>">
  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= doctor.bio %>
  </p>

  <p>
    <strong>Speciality:</strong>
    <%= doctor.speciality %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= doctor.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= doctor.phone %>
  </p>

</div>
