<div class="wrapper">
<%= form_with(model: doctor) do |form| %>
  <% if doctor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(doctor.errors.count, "error") %> prohibited this doctor from being saved:</h2>

      <ul>
        <% doctor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="bg-success p-5 row text-light">
  <div class="col-md-6 col-sm-12">
      <div class="form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :email %>
        <%= form.text_field :email, class: 'form-control' %>
      </div>

    <div class="form-group">
      <%= form.label :speciality %>
      <%= form.text_field :speciality, class: 'form-control' %>
    </div>

      <div class="form-group">
        <%= form.label :bio %>
        <%= form.text_area :bio, class: 'col-12 h-7' %>
      </div>
    </div>
  <div class="col-md-6 col-sm-12">
    <div class="form-group">
      <%= form.label :document %>
      <%= form.file_field :document, class: 'form-control' %>
    </div>

    <div class="form-group">
        <%= form.label :profile_image %>
        <%= form.file_field :profile_image, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :address %>
      <%= form.text_field :address, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :phone %>
      <%= form.text_field :phone, class: 'form-control' %>
    </div>

    <div class="btn btn-md btn-warning mt-4 col-12">
      <%= form.submit %>
    </div>
  </div>
<% end %>
</div>
