<style>
.hospital {
  background: linear-gradient(
    to bottom,
    #7afd6e,
    #0b4527
   );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
    margin-top: -100%;
  }
  to {
    margin-top: 0%;
  }
}
</style>
<p class="badge bg-success"><%= notice %></p>

<h1 class="text-center mt-4 text-success hospital"><strong>Doctors</strong></h1>

<div id="doctors">
 <table class="table table-hover mt-5 col-6">
   <% @doctors.each do |doctor| %>
    <tr>
    <td><%= render doctor %></td>

    <td><%= link_to "Update", edit_doctor_path(doctor), class: 'btn btn-warning' %></td>

    <td><%= link_to "Details", doctor, class: 'btn btn-primary' %></td>

    <td><%= button_to "Delete", doctor, method: :delete, class: 'btn btn-danger' %></td>

  <% end %>
  </table>
</div>
<div class="wrapper"><%= link_to "Register", new_doctor_path, class: "btn btn-secondary mb-3" %></div>
