<p class="badge bg-success"><%= notice %></p>

<h1 class="text-center mt-4 text-success hospital"><strong>Doctors</strong></h1>

<div id="doctors">
 <table class="table table-hover mt-5 col-6">
   <% @doctors.each do |doctor| %>
    <tr>
    <td><%= render doctor %></td>

    <td><%= link_to "Update", edit_doctor_path(doctor), class: 'btn btn-warning' %></td>

    <td><%= link_to "Details", doctor, class: 'btn btn-primary' %></td>

    <td><%= button_to "Delete", doctor, method: :delete, class: 'btn btn-danger' %></td>

  <% end %>
  </table>
</div>
<div class="wrapper"><%= link_to "Register", new_doctor_path, class: "btn btn-secondary mb-3" %></div>
