<p style="color: green"><%= notice %></p>

<div id="doctors">
 <div class="row">
  <div class="col-7 p-5">
    <h2 class="display-1 hospital">
      <strong><%= @doctor.name %></strong>
    </h2>

    <p class="bg-success rounded text-light p-5 shadow-lg">
      <strong>Bio:</strong>
      <%= @doctor.bio %>
    </p>

    <p class="badge bg-primary p-2">
      <strong>Speciality:</strong>
      <%= @doctor.speciality %>
    </p>

    <p class="badge bg-warning p-2">
      <strong>Address:</strong>
      <%= @doctor.address %>
    </p>

    <p class="badge bg-danger p-2">
      <strong>Email:</strong>
      <%= @doctor.email %>
    </p>

    <p class="badge bg-secondary p-2">
      <strong>Phone:</strong>
      <%= @doctor.phone %>
    </p>
      </div>
  <div class="col-5 flex justify-content-center p-5">
  <div>
  <% if @doctor.profile_image.attached? %>
    <%= image_tag @doctor.profile_image, style: 'width:400px; height:400px', class:'rounded-circle shadow-lg' %>
  <% end %>
  </div>
  <div class="wrapper mt-2">
    <%= link_to "Edit", edit_doctor_path(@doctor), class: 'btn btn-small btn-primary m-2' %>
  <%= link_to "Back", doctors_path,  class: 'btn btn-small btn-warning m-2' %>
  <%= button_to "Delete", @doctor, method: :delete, class: 'btn btn-small btn-danger m-2' %>
  </div>
  </div>
  </div>
</div>

