<div class="wrapper">
<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="bg-success p-5 row text-light">
  <div>
    <%= form.label :name%>
    <%= form.text_field :p_name , class: 'form-control'%>
  </div>

  <div>
    <%= form.label :"Doctor Name" %>
    <%= form.text_field :d_name, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :"Appointment Date" %>
    <%= form.date_field :app_date, class: 'form-control' %>
  </div>

  <div>
    <%=link_to form.submit class: 'btn btn-md btn-warning mt-4 col-12'%>
  </div>
  <% end %>
  </div>
</div>
</div>
