<p style="color: green"><%= notice %></p>

<h1 class="text-center mt-4 text-success hospital"><strong>Beds</strong></h1>
<%= link_to "New bed", new_bed_path %>
<div id="beds">
  <% @beds.each do |bed| %>
    <%= render bed %>
      <%= link_to "Show", bed %>
      <%= link_to "Back", beds_path %>
      <%= button_to "Delete", bed, method: :delete %>
  <% end %>
</div>


