<p style="color: green"><%= notice %></p>

<%# <%= render @bed %>

<div>
  <h1>Beds Page</h1>
  <%# <%= link_to "Edit this bed", edit_bed_path(@bed) |  %>
  <%# <%= link_to "Back to beds", beds_path %> %>

  <%# <%= button_to "Destroy this bed", @bed, method: :delete %> %>
</div>
